#box-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.box {
  width: 100px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 5px;
}
